<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <script src="https://cdn.tailwindcss.com"></script>
    
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">

<div class="bg-white p-8 rounded shadow-md w-96">
    <h1 class="text-2xl font-bold mb-6">Forgot Password</h1>

    <div th:if="${error}" class="my-4 text-red-800 whitespace-pre-line" th:text="${error}">
    </div>

    <form th:action="@{/forgot-password}" method="POST">
        <div class="mb-4">
            <label for="email" class="block text-sm font-medium text-gray-600">Email</label>
            <input type="email" id="email" name="email" class="mt-1 p-2 w-full border rounded-md" required>
        </div>

        <div class="mb-4">
            <label for="newPassword" class="block text-sm font-medium text-gray-600">New Password</label>
            <input type="password" id="newPassword" name="newPassword" class="mt-1 p-2 w-full border rounded-md" required>
        </div>

        <div class="mb-2">
            <label for="retypedPassword" class="block text-sm font-medium text-gray-600">Retype New Password</label>
            <input type="password" id="retypedPassword" name="retypedPassword" class="mt-1 p-2 w-full border rounded-md" required>
        </div>

        <div class="mb-6">
            <button type="button" class="text-blue-500 hover:underline text-sm" id="generate-password">Generate Password?</button>
        </div>


        <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300">
            Reset Password
        </button>
    </form>
</div>

<div id="toast" class="fixed top-8 right-8 transition-all p-4 bg-white rounded-md border border-blue-500 duration-200 opacity-0"></div>
<script>
    const genPasBtn = document.querySelector("#generate-password");
    const toast = document.querySelector("#toast");

    const newPass = document.querySelector("#newPassword");
    const retypePass = document.querySelector("#retypedPassword");

    genPasBtn.addEventListener("click",async () => {
       toast.classList.remove("opacity-0");

       const pass = generatePassword();

       try {
            await navigator.clipboard.writeText(pass);
            toast.textContent = `Generated password "${pass}" has been copied into your clipboard.`;
            newPass.value = pass;
            retypePass.value = pass;

        } catch (err) {
            console.log(err)
            toast.textContent = "Failed to generate password."
        }

       await new Promise((resolve) => {
        setTimeout(() => {
            toast.classList.add("opacity-0");
            resolve();
        }, 3000);
       })
       toast.classList.remove("transition-all");
    });

    function generatePassword() {
        const upper = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
        const special = '!@#$%^&*()_+{}|:<>?-=[];,./';
        const allCharacters = 'abcdefghijklmnopqrstuvwxyz'  + '0123456789' + special + upper;

        const oneUpper = upper[Math.floor(Math.random() * upper.length)];

        const oneSpecial = special[Math.floor(Math.random() * special.length)];

        let randomPassword = '';
        for (let i = 0; i < 6; i++) {
            const randomChar = allCharacters[Math.floor(Math.random() * allCharacters.length)];
            randomPassword += randomChar;
        }

        const password = oneUpper + oneSpecial + randomPassword;

        return password;
    }


</script>
</body>
</html>
