<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">

<div class="bg-white p-8 rounded shadow-md w-full max-w-md">
    <h1 class="text-2xl font-bold mb-6">User Registration</h1>
    <div th:if="${registerError}" class="bg-red-200 text-red-800 p-4 rounded-md my-4 whitespace-pre-line">
        <div th:text="${registerError}"></div>
    </div>
    <form th:action="@{/register}" method="post" th:object="${user}">
        <div class="grid grid-cols-2 gap-4">
            <div class="mb-4">
                <label for="firstName" class="block text-gray-700 text-sm font-bold mb-2">First Name:</label>
                
                <input type="text" id="firstName" th:field="*{firstName}" name="firstName" class="border rounded w-full py-2 px-3 focus:outline-none focus:border-blue-500" required>
            </div>

            <div class="mb-4">
                <label for="lastName" class="block text-gray-700 text-sm font-bold mb-2">Last Name:</label>
                
                <input type="text" id="lastName" name="lastName" th:field="*{lastName}" class="border rounded w-full py-2 px-3 focus:outline-none focus:border-blue-500" required>
            </div>
        </div>

        <div class="mb-4">
            <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Email:</label>
            
            <input type="email" id="email" name="email" th:field="*{email}" class="border rounded w-full py-2 px-3 focus:outline-none focus:border-blue-500" required>
        </div>

        <div class="mb-4">
            <label for="phone" class="block text-gray-700 text-sm font-bold mb-2">Phone:</label>
            
            <input type="text" id="phone" name="phone" th:field="*{phone}" class="border rounded w-full py-2 px-3 focus:outline-none focus:border-blue-500" required>
        </div>

        <div class="mb-4">
            <label for="username" class="block text-gray-700 text-sm font-bold mb-2">Username:</label>
            
            <input type="text" id="username" name="username" th:field="*{username}" class="border rounded w-full py-2 px-3 focus:outline-none focus:border-blue-500" required>
        </div>

        <div class="mb-4">
            <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password:</label>
            
            <input type="password" id="password" name="password" th:field="*{password}" class="border rounded w-full py-2 px-3 focus:outline-none focus:border-blue-500" required>
        </div>

        <div class="mb-4">
            <label for="retypePassword" class="block text-gray-700 text-sm font-bold mb-2">Retype Password:</label>
            
            <input type="password" id="retypePassword" name="retypePassword" class="border rounded w-full py-2 px-3 focus:outline-none focus:border-blue-500" required>
        </div>

        <div class="mb-4">
            <label for="birthDate" class="block text-gray-700 text-sm font-bold mb-2">Birth Date:</label>
            
            <input type="date" id="birthDate" name="birthDate" th:field="*{birthDate}" class="border rounded w-full py-2 px-3 focus:outline-none focus:border-blue-500" required>
        </div>

        <div class="mb-4">
            <label for="gender" class="block text-gray-700 text-sm font-bold mb-2">Gender:</label>
            
            <select id="gender" name="gender" th:field="*{gender}" class="border rounded w-full py-2 px-3 focus:outline-none focus:border-blue-500" required>
                <option value="MALE">Male</option>
                <option value="FEMALE">Female</option>
            </select>

        </div>

        <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue">
            Register
        </button>
    </form>
</div>

</body>
</html>
